// <buttons>===============================================================================================
.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	font-size: rem(16);
	font-weight: 500;
	text-transform: uppercase;

	line-height: 1.5;
	
	min-width: vw(200);
	padding: rem(13) rem(16);

	transition: all 0.3s ease 0s;
	// position: relative;

	// @include button(,);
	// @include interactive-effects($red, color);

	@media (any-hover: hover) {
		&:hover {
		}
	}

	&[disabled] {
		cursor: not-allowed;
	}
}

// </buttons>===============================================================================================
