//<Input >====================================================================================================
.input {
	border-radius: 0 !important;
	width: 100%;
	display: block;
	padding: 0px 20px;
	&:focus{
		border-color: #000;
	}
	
}
.textarea {
	resize: none;
	padding: rem(9) rem(16);
}

//</Input >====================================================================================================