// <Layout>===============================================================================================

// :root{

// }
//containers
html,
body {
	height: 100%;
}

body {
	//slow rendering speed but better quality
	//text-rendering: optimizeLegibility; 

	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.container {
	max-width: rem(1660);
	width: 95vw;
	margin: 0 auto;
	z-index: 5;
	// position: relative
	
	&.container-xl {
		max-width: rem(1780);
	}

	&.container-sm {
		max-width: rem(1480);
	}

	@include mq-lg {
		width: 100%;
		padding-left: vw-m(32);
		padding-right: vw-m(32);
	}
	@include mq-sm {
		width: 100%;
		padding-left: vw-m(20);
		padding-right: vw-m(20);
	}
}

// </Layout>===============================================================================================
