// Заголовки, общие БЄМ блоки и проче...
.title-section {
   font-style: normal;
   font-weight: 700;
   font-size: rem(96);
   line-height: 100%;
   color: #14161b;
   @include adaptiveValue('font-size', 96, 24);
}
